body {
    font-family: Arial, sans-serif;
    background-color: #93cda2;
    color: #2f4f2f;
    text-align: center;
}

h1 {
    color: #3a7d44;
}

h2 {
    color: #4caf50;
}

p {
    width: 60%;
    margin: auto;
    margin-bottom: 15px;
}

img {
    margin: 10px;
    border-radius: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}